In [1]:
from gene import Gene, GeneChain
from genetic import Genetic
from selector import TopNSelector
from util import print_row, print_header
from loader import load
from crosser import RandomGeneCrosser

## Load data

In [2]:
data = load()
data.head(5)

,COLUMN0,COLUMN1,COLUMN2,COLUMN3,COLUMN4,COLUMN5,COLUMN6,COLUMN7,COLUMN8
0,3,3,10,2,1.33,0.20,0.52,0.52,0.44
1,4,3,10,2,1.33,0.20,0.52,0.52,0.42
2,5,3,10,3,1.42,0.22,0.56,0.56,0.38
3,3,38,7,0,1.44,0.16,0.46,0.46,0.19
4,4,37,7,0,1.44,0.25,0.46,0.46,0.19

## Init base gene chain

In [3]:
base_gene_chain = GeneChain()

print_header(("", "Type", "Min", "Max"))

for column in data:
    dtype = data[column].dtype
    min_value = min(data[column])
    max_value = max(data[column])
    
    print_row((column, dtype.name, min_value, max_value))
    
    base_gene_chain.add(
        Gene(dtype.type, max_value, min_value, -1))

|          |      Type|       Min|       Max|
+----------+----------+----------+----------|
|   COLUMN0|     int64|         3|        17|
|   COLUMN1|     int64|         2|        43|
|   COLUMN2|     int64|         2|        12|
|   COLUMN3|     int64|         0|         3|
|   COLUMN4|   float64|       0.7|       2.1|
|   COLUMN5|   float64|      0.02|       0.8|
|   COLUMN6|   float64|      0.01|       0.6|
|   COLUMN7|   float64|      0.01|       0.6|
|   COLUMN8|   float64|       0.0|       0.6|

### Init genetic algorithm

In [4]:
genetic = Genetic(
    max_generations=1,
    max_individuals=10,
    base_gene_chain=base_gene_chain,
    crosser=RandomGeneCrosser(),
    selector=TopNSelector(3)
)

## Run

In [5]:
genetic.run()

In [6]:
for individ in genetic._individuals:
    print(individ.score)

98
97
95